<!-- Navigation -->
<% cache do %>
  <nav class="navbar navbar-custom" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand page-scroll" href="/">
          Birch Brook
        </a>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1 style="margin-bottom: 10px;">Ashley Dodge</h1>
    <h5>Educational Environmentalist</h5>
  </div>

  <div class="container text-center">
    <div class="row">

      <div class="col-md-6">
        <div class="bio_min_text_title">
          <h3 class="pull-left">A little about Ashley...</h3>
        </div>
        <!-- <br><br><br><br> -->
        <div class="bio_image_container">
          <img class="bio_image" style="width: 100%; height: 100%; border-radius: 10px; margin-bottom: 15px;" src="https://s3.amazonaws.com/birch-brook/ashley_dodge.jpg">
        </div>
        <div class="text-left">
          <h4 style="margin-bottom: 8px;">Contact:</h4>
          <h5 style="margin-bottom: 8px;" >Email: <a href="mailto:ashleylillian@hotmail.com">ashleylillian@hotmail.com</a></h5>
          <h5 style="margin-bottom: 8px;">Phone: 603-581-5621</h5>
        </div>
      </div>

      <div class="col-md-6">
        <div class="bio_main_text" style="margin-top: 60px;">
          <h5>Ashley is a dedicated mother, educator, and naturalist. Earning her bachelor’s degree in early childhood education from Southern New Hampshire University, she has since been melding her love for education and the outdoors. Ashley has experience in a number of educational endeavors that have brought together her devotion to teaching with her environmental ardor.</h5>
          <h5>She was co-founder of Hummingbird Farm, a homeschooling enrichment program, which structured it’s educational philosophies around bringing children into a natural environment to spark the learning process and encouraged engaging activities. She also led numerous workshops for students and parents, which mainly focused on incorporating the outdoors into everyday life. Ashley’s role was essential in developing the organization, execution of lessons, and day to day operations.</h5>
          <h5>Prior to her work with Hummingbird Farm, Ashley was the point of contact and organizer for the aftercare program at Pine Hill Waldorf School, a K-8 school based on the educational philosophies of Austrian philosopher Rudolf Steiner.</h5>
          <h5>If you are interested in talking with Ashley personally, feel free to send her an email or to call her directly. We look forward to seeing you this summer!</h5>
        </div>
      </div>

    </div>
  </div>
<% end %>