<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

	<!-- Navigation -->
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand page-scroll" href="#page-top">
					<i class="fa fa-play-circle"></i>  <span class="light">Birch</span> Brook
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
				<ul class="nav navbar-nav">
					<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li>
						<a class="page-scroll" href="#about">About</a>
					</li>
					<li>
						<a class="page-scroll" href="#dates">Dates</a>
					</li>
					<li>
						<a class="page-scroll" href="#contact">Contact</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<!-- Intro Header -->
	<header class="intro">
		<div class="intro-body">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="brand-heading">Birch Brook Camp</h1>
						<p class="intro-text">A nature based program for children ages 4-10. Forest walks, gardening, natural crafts, story telling, outdoor games, and basic farm animal care.</p>
						<a href="#about" class="btn btn-circle page-scroll">
							<i class="fa fa-angle-double-down animated"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- About Section -->
	<section id="about" class="container content-section text-center">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Birch Brook Camp:</h2>
				<p>We are located on two and a half beautiful, rural acres on a scenic hilltop in Goffstown, New Hampshire. The property features a large open yard, with over an acre of hardwood forest that boasts a beautiful year round shallow stream.</p>
				<p>Here we will find an abundance of small wildlife, as well as an array of plant species that will serve as our daily adventure guide. Birch Brook day camp is the perfect setting for creating opportunities for your child to truly connect to the natural world.</p>
				<p>We're excited to have you be a part of our family and encourage you to look at our available dates!</p>
			</div>
		</div>
	</section>

	<!-- Download Section -->
	<section id="dates" class="content-section text-center">
		<div class="dates-section">
			<div class="container">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Scheduled Sessions</h2>
					<table class="schedule-table">
						<th>Session One - July 11 to 15</th>
						<tr>
							<td>9:30am to 2:00pm</td>
						</tr>
						<tr>
							<td>$150</td>
						</tr>
					</table>
					<br>
					<table class="schedule-table">	
						<th>Session Two - August 1 to 5</th>
						<tr>
							<td>9:30am to 2:00pm</td>
						</tr>
						<tr>
							<td>$150</td>
						</tr>
					</table>
					<br><br>
					<!-- <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p> -->
					<a href="/" class="btn btn-default btn-lg">All Dates & Activities</a>
				</div>
			</div>
		</div>
	</section>

	<!-- Contact Section -->
	<section id="contact" class="container content-section text-center">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Contact Start Bootstrap</h2>
				<p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
				<p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
				</p>
				<ul class="list-inline banner-social-buttons">
					<li>
						<a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
					</li>
					<li>
						<a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
					</li>
					<li>
						<a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<!-- Map Section -->
	<div id="map"></div>

	<!-- Footer -->
	<footer>
		<div class="container text-center">
			<p>Copyright &copy; Birch Brook Camp 2016</p>
		</div>
	</footer>

	<!-- Plugin JavaScript -->
	<%= javascript_include_tag 'jquery.easing.min.js', 'data-turbolinks-track' => true %>
	<!-- // <script src="jquery.easing.min.js"></script> -->

	<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

	<!-- Custom Theme JavaScript -->
	<%= javascript_include_tag 'grayscale', 'data-turbolinks-track' => true %>
	<!-- // <script src="grayscale.js"></script> -->

</body>