// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session-title {
	margin: auto;
	width: 100%;
}

.session-card {
	margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border: double;
	border-width: 1px;
	border-color: white;
}

.session-card-title{
	margin-bottom: 5px;
}

.session-card table {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 0px;
}

.session-card h5 {
	margin-bottom: 10px;
}

.activity-table {
	text-align: left;
}